<div id="heading">
    <a href="/home/index">Home</a> <a href="https://docs.google.com/document/d/1eh-c7nNmuU6CRv5ZS2dTp5LpFqJEkoIwypHCYVvm_4I/edit?usp=sharing">Contact Me</a> <a href="https://portfolio-22-jpg.herokuapp.com/login">Portfolio</a>
</div>
